alfred/.vscode/browse.vc.db
alfred/build/
alfred/install/
alfred/log/
alfred/src/hal/hal_lifecycle_manager/launch/hal_bringup_host_launch.py

remote/**/*.rs.bk
remote/.#*
remote/.gdb_history
remote/**/Cargo.lock
remote/**/target/

# editor files
remote/.vscode/*
!remote/.vscode/*.md
!remote/.vscode/*.svd
!remote/.vscode/launch.json
!remote/.vscode/tasks.json
!remote/.vscode/extensions.json
!remote/.vscode/settings.json
